In \[1\]:

    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    import warnings
    warnings.filterwarnings("ignore", category=DeprecationWarning)

In \[2\]:

    # Read the CSV file
    df = pd.read_csv('sal.csv')

In \[3\]:

    # Display the first few rows and check the DataFrame's shape
    print(df.head())
    print(df.shape)

           Name   Age  Years of Experience   salary
    0    BRADDY  22.0                  4.0  25000.0
    1     BORST  21.0                  3.0  25000.0
    2  BIRDWELL  22.0                  4.0  25000.0
    3      BENT  21.0                  3.0  25000.0
    4     BAZAN  22.0                  4.0  25000.0
    (19237, 4)

In \[4\]:

    # Check for missing values
    print(df.isnull().any())  # Check if any missing values exist in each column
    print(df.isnull().sum())   # Count the number of missing values in each column

    Name                   True
    Age                    True
    Years of Experience    True
    salary                 True
    dtype: bool
    Name                   5
    Age                    1
    Years of Experience    1
    salary                 1
    dtype: int64

In \[5\]:

    df.dropna(inplace = True)

In \[6\]:

    df.shape

Out\[6\]:

    (19231, 4)

In \[7\]:

    df.isnull().any()

Out\[7\]:

    Name                   False
    Age                    False
    Years of Experience    False
    salary                 False
    dtype: bool

In \[ \]:

     

In \[ \]:

     

In \[ \]:

     

In \[ \]:

     

In \[ \]:

     

In \[ \]:

     

In \[ \]:

     

In \[ \]: